@import "../data/variables";
$fonts: $fontHeadings $fontText;

$font-family-sans-serif: $fontText, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$headings-font-family: $fontHeadings, $fontText, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$primary: #C71585;
$alert-border-level: -3;

$link-decoration: none;
$link-hover-decoration: underline;

$header-height: 80px;
$header-margin: $header-height + 36px;

$container-width: 920px;
$container-wide-width: 1300px;

$modal-backdrop-opacity: .1;

$glassBlur: 12px;
$glassBlur-sm: $glassBlur / 2;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

@import '~@fortawesome/fontawesome-pro/scss/variables';
